@import "tailwindcss";

body {
    max-width: 100dvw;
    overflow-x: hidden;
    font-family: "Raleway";
    min-height: 144dvh;
    padding-left: 12dvw;
}

.dashboard {
    max-width: 12dvw;
}

.profile-image {
    height: auto;
    aspect-ratio: 1/1;
}

.modaldiv {
    max-height: 60dvh;
}

.modaldiv-content {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 50dvh;
    scrollbar-width: none;
}

.circleid {
    height: 1.6rem;
    width: auto;
    aspect-ratio: 1/1;
}

.circleBtn {
    height: 2rem;
    width: 2rem;
    aspect-ratio: 1/1;
}

.gallery {
    grid-template-columns: repeat(4, 1fr);
}

.gallery0 {
    grid-template-columns: repeat(3, 1fr);
}

.gallery img {
    /* width: 18dvw; */
    aspect-ratio: 4/3;
    object-fit: cover;
}

.modalGallery {
    height: fit-content;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalGallery img {
    height: 80dvh;
    width: auto;
}

.modalGalleryAdd img {
    height: 64dvh;
    width: auto;
}

.projectImgBox {
    min-width: 10%;
    max-width: 10%;
}

.projectIconImg {
    aspect-ratio: 1/1 !important;
    object-fit: contain;
    height: 100%;
    width: auto;
}

@media (min-width:10px) {

    #nav {
        display: none;
    }

    /* .dashboard {
        max-width: 16dvw;
    } */
}

@media (max-width:1080px) {
    .specialFlex {
        /* padding-left: 10dvw; */
        flex-direction: column;
    }

    .specialFlex .notdiv {
        width: auto;
    }

}

@media (max-width:720px) {
    body {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .dashboard {
        display: none;
        max-width: fit-content;
    }

    .modalGallery img {
        height: auto;
        max-width: 90dvw;
    }

    .modalGallery {
        max-width: 64dvw;
    }

    .modalGalleryAddImg {
        height: auto;
        max-width: 64dvw !important;
    }

    .specialFlex {
        flex-direction: column;
    }

    .modaldiv {
        /* width: 80dvw !important; */
        width: fit-content !important;
        max-width: 80dvw;
    }

    .projectImgBox {
        min-width: 20%;
        max-width: 20%;
    }
}