@import "tailwindcss";

body {
    max-width: 100dvw;
    overflow-x: hidden;
    /* min-height: 300dvh; */
}


.profile-image{
    height: auto;
    aspect-ratio: 1/1;
}

.modaldiv{
    max-height: 60dvh;
}

.modaldiv-content{
    overflow: scroll;
    overflow-x: hidden;
    max-height: 50dvh;
}
.circleid{
    height: 1.6rem;
    width: auto;
    aspect-ratio: 1/1;
}

@media (min-width:10px) {
    
    #nav {
        display: none;
    }

}
@media (max-width:864px){
    .specialFlex{
        flex-direction: column;
    }
    .modaldiv{
        width: 100% !important;
    }
}
