@import "tailwindcss";

body {
    max-width: 100dvw;
    overflow-x: hidden;
    font-family: "Raleway";
    min-height: 144dvh;
    padding-left: 24dvh;
    /* padding-bottom: 48dvh; */
}


.profile-image {
    height: auto;
    aspect-ratio: 1/1;
}

.modaldiv {
    max-height: 60dvh;
}

.modaldiv-content {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 50dvh;
}

.circleid {
    height: 1.6rem;
    width: auto;
    aspect-ratio: 1/1;
}

.circleBtn {
    height: 2rem;
    width: 2rem;
    aspect-ratio: 1/1;
}

.gallery {
    grid-template-columns: repeat(4, 1fr);
}

.gallery0 {
    grid-template-columns: repeat(3, 1fr);
}

.gallery img {
    /* width: 18dvw; */
    aspect-ratio: 4/3;
    object-fit: cover;
}

.modalGallery {
    height: fit-content;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalGallery img {
    height: 80dvh;
    width: auto;
}

.modalGalleryAdd img {
    height: 64dvh;
    width: auto;
}

@media (min-width:10px) {

    #nav {
        display: none;
    }

}

@media (max-width:720px) {
    .modalGallery img {
        height: auto;
        max-width: 90dvw;
    }
    .modalGallery{
        max-width: 64dvw;
    }
    
    .modalGalleryAddImg {
        height: auto;
        max-width: 64dvw !important;
    }

    .specialFlex {
        flex-direction: column;
    }

    .modaldiv {
        width: 100% !important;
    }
}