@import "tailwindcss";

body {
    max-width: 100dvw;
    overflow-x: hidden;
    font-family: "Raleway";
    /* min-height: 300dvh; */
}


.profile-image{
    height: auto;
    aspect-ratio: 1/1;
}

.modaldiv{
    max-height: 60dvh;
}

.modaldiv-content{
    overflow: scroll;
    overflow-x: hidden;
    max-height: 50dvh;
}
.circleid{
    height: 1.6rem;
    width: auto;
    aspect-ratio: 1/1;
}
.gallery{
    grid-template-columns: repeat(4,1fr);
}
.gallery img{
    /* width: 18dvw; */
    aspect-ratio: 4/3;
    object-fit: cover;
}
@media (min-width:10px) {
    
    #nav {
        display: none;
    }

}
@media (max-width:1080px){
    .specialFlex{
        flex-direction: column;
    }
    .modaldiv{
        width: 100% !important;
    }
}
